'.source.json':
    'filesGlob':
        'prefix': 'fg'
        'body': """
            "filesGlob": [
                "./**/*.ts",
                "!./node_modules/**/*.ts"
            ],
        """
