'atom-text-editor:not([mini]).typescript-editor':
  'f2': 'typescript:rename-refactor'
  'shift-f12': 'typescript:find-references'
  'f6': 'typescript:build'
  'f12': 'typescript:go-to-declaration'

'atom-workspace':
  'f10': 'typescript:return-from-declaration'
  'shift-f10': 'typescript:show-editor-position-history'

'.platform-darwin atom-text-editor:not([mini]).typescript-editor':
  'alt-cmd-l': 'typescript:format-code'
  'cmd-r': 'typescript:toggle-file-symbols'
  'cmd-shift-r': 'typescript:toggle-project-symbols'

'.platform-win32 atom-text-editor:not([mini]).typescript-editor, .platform-linux atom-text-editor:not([mini]).typescript-editor':
  'alt-ctrl-l': 'typescript:format-code'
  'ctrl-r': 'typescript:toggle-file-symbols'
  'ctrl-shift-r': 'typescript:toggle-project-symbols'
