'atom-text-editor[data-grammar~=ts]':
  'ctrl-space': 'typescript:autocomplete'
  'cmd-space': 'typescript:autocomplete'
'atom-text-editor[data-grammar~=ts] .autocomplete-plus.autocomplete-suggestion-list':
  'enter': 'autocomplete-plus:confirm'
